.container {
  max-height: 450px;
  overflow-y: auto;

  .item {
    margin-bottom: 8px;
  }

  .notFoundContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 450px;
    height: 450px;
  }
}
