.container {
  width: 100%;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  border-radius: 5px;
  transition: 0.3s;

  .notFoundContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 450px;
    height: 450px;
  }

  .infoContainer {
    display: flex;

    .appImg {
      width: 30%;
    }

    p{
      margin: 0;
    }
  }
}

.addAppBtn {
  margin-top: 10px;
  width: 100%;
}
