.container {
  width: 100%;
  border-radius: 5px;
  background-color: whitesmoke;

  .header {
    height: 25px;
    align-items: center;
    justify-content: space-between;
    display: flex;

    .callBtn {
      color: white;
    }
  }

  .headerItem {
    display: flex;
    justify-content: space-between;

    .key,
    .value {
      padding: 4px 12px;
      width: 50%;
      font-weight: 500;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  }
}
